* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-style: solid;
    border-color: #2DCDF3;
    border-width: 0.125rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

body {
    /* background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgb(0, 0, 0) 80%), url(../images/gragas_artico_opacidade.jpg); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-image: url(../images/gragas_artico_opacidade.jpg);
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header-cont {
    display: contents;
    align-items: center;
    background-color: black;
}

.header-img {
    width: 100px;
}

.header-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: -42%;
    color: white;
    font-size: 40px;
}

.menu {
    margin: 0px 10px 0px 0px;
    color: white;
}

.btn {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 0.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2DCDF3;
    transition: 0.5s ease;
}

.btn:hover::before {
    width: 100%;
    margin-bottom: 10px;
}

.menu button a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
}

h1 {
    color: white;
    font-size: 7rem;
    text-align: center;
    margin: 1.5%;
}

h2 {
    color: YELLOW;
    font-size: 2rem;
    text-align: center;
    margin: 1%;
}

h3 {
    color: grey;
    font-size: 1rem;
    text-align: center;
    margin: .5%;
}

video {
    max-width: 50rem;
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: .125rem;
    border-radius: 2rem;
}