* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-style: solid;
    border-color: #2DCDF3;
    border-width: 0.125rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

body {
    background-image: url(../images/gragas_mergulhador_opacidade.jpg);
    background-size: 100%;
    /* background: black; */
}

.header-cont {
    display: contents;
    align-items: center;
    background-color: black;
}

.header-img {
    width: 100px;
}

.header-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-left: -42%;
    color: white;
    font-size: 40px;
}

.menu {
    margin: 0px 10px 0px 0px;
    color: white;
}

.btn {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 0.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #2DCDF3;
    transition: 0.5s ease;
}

.btn:hover::before {
    width: 100%;
    margin-bottom: 10px;
}

.menu button a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 30px 300px 10px 300px;
}

.gragas-gif {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
}

/* .gragas_mergulhador {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
} */

a {
    color: inherit;
    text-decoration: inherit;
}

.entender {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #2DCDF3;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.entender-text:hover {
    cursor: pointer;
}

.entender:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.entender:hover .icon {
    transform: translate(4px);
}
